@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,500;0,700;1,300;1,500;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;400;700;800&display=swap");
@font-face {
  font-family: "SUIT-Regular";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100vw;
  height: 100vh;
  font-size: 60px;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol,
li {
  list-style: none;
}

img {
  vertical-align: middle;
}

button {
  font-family: "Inter", sans-serif;
  font-size: 0.5em;
  font-weight: 900;
}

p {
  font-family: "Inter", sans-serif;
  font-size: 24px;
  font-weight: 300;
}

li {
  font-family: "Inter", sans-serif;
  font-size: 0.8em;
  line-height: 1.2em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Inter", sans-serif;
  font-weight: bold;
  font-weight: 700;
  font-weight: 900;
}

h1 {
  font-size: 72px;
}

h2 {
  font-size: 1.2em;
}

h3 {
  font-size: 1em;
}

h4 {
  font-size: 0.8em;
}

h5 {
  font-size: 0.6em;
}

body {
  display: flex;
  overflow: hidden;
}

.hdrWrap {
  width: 100%;
  height: 10vh;
  position: absolute;
  top: 10vh;
  left: 0;
  z-index: 10;
}
.hdrWrap header {
  height: 100%;
  width: 90%;
  max-width: 1680px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  border-top: 10px solid black;
  border-bottom: 5px solid gray;
  overflow: hidden;
}
.hdrWrap header h1 {
  height: 85px;
  width: 30%;
}
.hdrWrap header h1 a:hover {
  animation-name: colorChange;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}
@keyframes colorChange {
  25% {
    color: #01d1ff;
  }
  50% {
    color: #fa00ff;
  }
  75% {
    color: #faff00;
  }
}
.hdrWrap header .emptyBox {
  height: 85px;
  width: calc(100% - 560px);
  background: #fdfdfd;
}

.menuWrap {
  height: 100vh;
  width: 33.3333333333vw;
  padding-top: 40vh;
  position: relative;
  overflow: hidden;
}
.menuWrap .menu {
  width: calc(100% - 120px);
  float: right;
}
.menuWrap .menu h2 {
  line-height: 2;
}
.menuWrap .footer {
  position: absolute;
  bottom: 5px;
  right: 0;
  width: 80%;
}
.menuWrap .footer p {
  font-size: 16px;
}

.container {
  height: 80vh;
  width: 66.6666666667vw;
  position: relative;
  margin-top: 20vh;
  margin-left: 10px;
  overflow: hidden;
  overflow-y: scroll;
  scrollbar-width: none;
}
.container::-webkit-scrollbar {
  display: none;
}
.container::before {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  top: 89%;
  right: 50px;
  border: 1px solid black;
  border-top: none;
  border-right: none;
  transform: rotate(-45deg);
  animation-name: scroller2;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}
@keyframes scroller2 {
  0% {
    top: 84%;
    opacity: 0;
  }
  100% {
    top: 88%;
    opacity: 1;
  }
}
.container::after {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  top: 90%;
  right: 50px;
  border: 1px solid black;
  border-top: none;
  border-right: none;
  transform: rotate(-45deg);
  animation-name: scroller;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}
@keyframes scroller {
  0% {
    top: 85%;
    opacity: 0;
  }
  100% {
    top: 90%;
    opacity: 1;
  }
}

#right {
  position: absolute;
  z-index: -10;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  opacity: 0.3;
  background: repeating-linear-gradient(45deg, #c2c2c2, #c2c2c2 2px, #ffffff 2px, #ffffff 10px);
}

#left {
  position: absolute;
  z-index: -10;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  opacity: 0.3;
  background: repeating-linear-gradient(-45deg, #c2c2c2, #c2c2c2 2px, #ffffff 2px, #ffffff 10px);
}

.menu h2 a {
  transition: text-shadow 0.1s linear, color 0.1s;
}
.menu #menu1:hover {
  color: rgba(255, 255, 255, 0.7);
  text-shadow: 20px 20px 0 rgb(0, 255, 255), -20px -20px 0 rgb(250, 0, 255);
}
.menu #menu2:hover {
  color: rgba(255, 255, 255, 0.7);
  text-shadow: 20px 20px 0 rgb(250, 0, 255), -20px -20px 0 rgb(250, 255, 0), -19px -19px 0px rgb(230, 235, 0);
}
.menu #menu3:hover {
  color: rgba(255, 255, 255, 0.7);
  text-shadow: 20px 20px 0 rgb(250, 255, 0), 21px 21px 0px rgb(230, 235, 0), -20px -20px 0 rgb(0, 255, 255);
}

div.allSection {
  width: calc(100% - 120px);
}
div.allSection:not(:nth-of-type(1)) {
  margin-top: 160px;
}

.sectionMain img {
  width: 100%;
}

.sectionIntro {
  width: 100%;
}
.sectionIntro header h3 {
  line-height: 80px;
}
.sectionIntro section {
  margin-top: 100px;
  text-align: center;
}
.sectionIntro section .texts {
  text-align: left;
  margin-top: 40px;
}
.sectionIntro section .texts h5 {
  line-height: 1em;
}
.sectionIntro section .texts p {
  text-indent: 1em;
  margin-top: 20px;
}

.sectionSkills section h5 {
  text-indent: 1em;
  line-height: 2em;
  margin-top: 40px;
}
.sectionSkills section ul {
  display: flex;
  flex-wrap: wrap;
  row-gap: 40px;
}
.sectionSkills section ul li {
  padding-left: 5vw;
  width: 50%;
}
.sectionSkills section ul li img {
  height: 100px;
}

.sectionPortfolio section {
  margin-top: 40px;
}
.sectionPortfolio section .galleryProjects ul {
  display: flex;
  margin-top: 40px;
}
.sectionPortfolio section .galleryProjects ul li {
  width: 33.33%;
  padding: 0 20px;
}
.sectionPortfolio section .galleryProjects ul li a img {
  width: 100%;
}

.sectionContact {
  text-align: center;
  padding: 10vh 0;
}
.sectionContact header {
  margin-bottom: 5vh;
}
.sectionContact section button {
  height: 8vh;
  width: 50%;
  margin-top: 5vh;
  overflow: hidden;
  border: 5px solid black;
  background-color: transparent;
}
.sectionContact section .cyan {
  box-shadow: 10px 10px 0 rgb(0, 255, 255);
}
.sectionContact section .magenta {
  box-shadow: 10px 10px 0 rgb(250, 0, 255);
}
.sectionContact section .yellow {
  box-shadow: 10px 10px 0 rgb(250, 255, 0);
}
.sectionContact section p {
  margin-top: 10vh;
  font-size: 60px;
  font-weight: 900;
}

@media (max-width: 1439px) {
  h2 {
    font-size: 1em;
  }
  .menuWrap .menu {
    width: 80%;
  }
  .container div.allSection {
    width: 90%;
  }
  .container div.allSection:not(:nth-of-type(1)) {
    margin-top: 100px;
  }
}
@media (max-width: 1079px) {
  h2 {
    font-size: 0.9em;
  }
  h3 {
    font-size: 0.8em;
  }
  .container div.allSection:not(:nth-of-type(1)) {
    margin-top: 80px;
  }
  .container .sectionContact section button {
    font-size: 0.4em;
  }
}
@media (max-width: 959px) {
  h1 {
    font-size: 1em;
    line-height: 1.4em;
  }
  h2 {
    font-size: 0.7em;
  }
  h3 {
    font-size: 0.6em;
  }
  .menuWrap .menu h2 {
    line-height: 3em;
  }
  .container .sectionContact section button {
    height: 8vh;
    width: 80%;
    font-size: 0.3em;
  }
  .container .sectionContact section p {
    font-size: 36px;
  }
}
@media (max-width: 767px) {
  h1 {
    font-size: 0.8em;
    line-height: 1.6em;
  }
}
@media (max-width: 599px) {
  h1 {
    font-size: 0.6em;
    line-height: 2.2em;
  }
  p {
    font-size: 18px;
  }
}

/*# sourceMappingURL=main.css.map */
