@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,500;0,700;1,300;1,500;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;400;700;800&display=swap");
@font-face {
  font-family: "SUIT-Regular";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100vw;
  height: 100vh;
  font-size: 60px;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol,
li {
  list-style: none;
}

img {
  vertical-align: middle;
}

p {
  font-family: "Inter", sans-serif;
  font-size: 24px;
  font-weight: 300;
}

li {
  font-family: "Inter", sans-serif;
  font-size: 0.8em;
  line-height: 1.2em;
}

button {
  background-color: transparent;
  color: inherit;
  border: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Inter", sans-serif;
  font-weight: bold;
  font-weight: 700;
  font-weight: 900;
}

h1 {
  font-size: 8vh;
}

h2 {
  font-size: 1.2em;
}

h3 {
  font-size: 1em;
}

h4 {
  font-size: 0.8em;
}

h5 {
  font-size: 0.6em;
}

.bnw {
  background-color: #121212;
  color: #eee;
}

.hdrWrap.bnw {
  background-color: transparent;
}
.hdrWrap.bnw header {
  border-top: 10px solid #f9f9f9;
}
.hdrWrap.bnw header h1 a:hover {
  color: #fff;
}

.menuWrap.bnw {
  background: transparent;
}
.menuWrap.bnw #right {
  background: repeating-linear-gradient(45deg, #333, #333 2px, #000 2px, #000 10px);
}
.menuWrap.bnw #left {
  background: repeating-linear-gradient(-45deg, #333, #333 2px, #000 2px, #000 10px);
}
.menuWrap.bnw .btnClose i {
  color: #eee;
}
.menuWrap.bnw .menu {
  color: #fff;
}
.menuWrap.bnw .menu #menu1:hover {
  color: #fff;
}
.menuWrap.bnw .menu #menu2:hover {
  color: #fff;
}
.menuWrap.bnw .menu #menu3:hover {
  color: #fff;
}
.menuWrap.bnw .menu #menu4:hover {
  color: #fff;
}
.menuWrap.bnw .footer p {
  color: #a9a9a9;
}

.container.bnw::before {
  border: 1px solid white;
  border-right: none;
  border-top: none;
}
.container.bnw::after {
  border: 1px solid white;
  border-right: none;
  border-top: none;
}
.container.bnw .sectionSkills p {
  color: #fff;
}
.container.bnw .sectionContact section a {
  border: 5px solid #8a8a8a;
  background-color: transparent;
}

body {
  display: flex;
  overflow: hidden;
}

.hdrWrap {
  width: 100%;
  height: 10vh;
  position: absolute;
  top: 10vh;
  left: 0;
  z-index: 10;
}
.hdrWrap header {
  height: 100%;
  width: 90%;
  max-width: 1680px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  border-top: 10px solid black;
  border-bottom: 5px solid gray;
  overflow: hidden;
}
.hdrWrap header h1 {
  height: 100%;
  width: 30%;
  line-height: 10vh;
}
.hdrWrap header h1 a {
  transition: color 0.3s;
  display: block;
  height: 100%;
}
.hdrWrap header .bnwOnOff {
  height: 100%;
  width: calc(70% - 10px);
  line-height: 10vh;
  display: flex;
  justify-content: flex-end;
}
.hdrWrap header .bnwOnOff .burgerIcon {
  display: none;
}
.hdrWrap header .bnwOnOff button {
  cursor: pointer;
  display: block;
  height: 100%;
  text-align: right;
  margin-left: 30px;
}
.hdrWrap header .bnwOnOff button i {
  font-size: 3vh;
}

.menuWrap {
  height: 100vh;
  width: 33.3333333333vw;
  padding-top: 30vh;
  position: relative;
  overflow: hidden;
}
.menuWrap .menu {
  width: calc(100% - 120px);
  float: right;
}
.menuWrap .menu h2 {
  line-height: 2;
}
.menuWrap .footer {
  position: absolute;
  bottom: 5px;
  right: 0;
  width: 80%;
}
.menuWrap .footer p {
  font-size: 16px;
}

.container {
  height: 80vh;
  width: 66.6666666667vw;
  position: relative;
  margin-top: 20vh;
  margin-left: 10px;
  overflow: hidden;
  overflow-y: scroll;
  scrollbar-width: none;
  scroll-behavior: smooth;
}
.container::-webkit-scrollbar {
  display: none;
}
.container::before {
  content: "";
  position: fixed;
  width: 10px;
  height: 10px;
  top: 80%;
  right: 50px;
  border: 1px solid black;
  border-top: none;
  border-right: none;
  transform: rotate(-45deg);
  animation-name: scroller2;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}
@keyframes scroller2 {
  0% {
    top: 84%;
    opacity: 0;
  }
  100% {
    top: 89%;
    opacity: 1;
  }
}
.container::after {
  content: "";
  position: fixed;
  width: 10px;
  height: 10px;
  top: 85%;
  right: 50px;
  border: 1px solid black;
  border-top: none;
  border-right: none;
  transform: rotate(-45deg);
  animation-name: scroller;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}
@keyframes scroller {
  0% {
    top: 85%;
    opacity: 0;
  }
  100% {
    top: 90%;
    opacity: 1;
  }
}

#right {
  position: absolute;
  z-index: -10;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  opacity: 0.3;
  background: repeating-linear-gradient(45deg, #c2c2c2, #c2c2c2 2px, #ffffff 2px, #ffffff 10px);
}

#left {
  position: absolute;
  z-index: -10;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  opacity: 0.3;
  background: repeating-linear-gradient(-45deg, #c2c2c2, #c2c2c2 2px, #ffffff 2px, #ffffff 10px);
}

.menu h2 a {
  transition: text-shadow 0.1s linear, color 0.1s;
}
.menu #menu1:hover {
  color: #000;
  text-shadow: 0px 5px 0 rgb(0, 255, 255);
}
.menu #menu2:hover {
  color: #000;
  text-shadow: 0px 5px 0 rgb(250, 0, 255);
}
.menu #menu3:hover {
  color: #000;
  text-shadow: 0px 5px 0 rgb(250, 255, 0);
}
.menu #menu4:hover {
  color: #000;
  text-shadow: 0 5px 0 #8a8a8a;
}

.btnClose {
  position: absolute;
  top: 40px;
  right: 50px;
  display: none;
}
.btnClose i {
  color: #313131;
  cursor: pointer;
}
.btnClose i:hover {
  color: #000;
}

#flip {
  height: 100vh;
  width: 100vw;
  background-color: #121212;
}
#flip .letters {
  display: flex;
  justify-content: center;
  align-items: center;
}
#flip .letters p {
  font-size: 15vw;
  font-weight: bold;
  font-weight: 700;
  color: #eee;
  line-height: 100vh;
  letter-spacing: 5px;
  transform: perspective(500px) rotateY(90deg);
  animation: fliptext 5s ease-in-out 1 forwards;
  opacity: 0;
}
#flip .letters #p2 {
  animation-delay: 400ms;
}
#flip .letters #p3 {
  animation-delay: 600ms;
}
#flip .letters #p4 {
  animation-delay: 800ms;
}
#flip .letters #p5 {
  animation-delay: 1000ms;
}
#flip .letters #p6 {
  animation-delay: 1200ms;
}
#flip .letters #p7 {
  animation-delay: 1400ms;
}
@keyframes fliptext {
  80% {
    transform: perspective(500px) rotate(0deg);
    opacity: 1;
  }
  100% {
    transform: translateY(-5vh);
    text-shadow: 1vh 1vh 0 rgb(0, 255, 255), -0.5vh -0.5vh 0 rgb(250, 0, 255);
    opacity: 1;
  }
}

.start {
  font-size: initial;
  position: fixed;
  left: 50%;
  bottom: 5vh;
  transform: translateX(-50%);
  animation: langButton 5s forwards;
  opacity: 0;
}
.start button {
  font-size: 20px;
  line-height: 1em;
  width: 100px;
  height: 100px;
  color: #eee;
  background-color: #121212;
  margin: 0 10px;
}
.start button:hover {
  cursor: pointer;
}

@keyframes langButton {
  100% {
    opacity: 1;
  }
}
div.allSection {
  width: calc(100% - 120px);
}
div.allSection:not(:nth-of-type(1)) {
  margin-top: 80px;
  padding: 40px 0;
}

.sectionMain img {
  width: 100%;
}

.sectionIntro {
  width: 100%;
  padding-top: 40px;
}
.sectionIntro header h3 {
  line-height: 80px;
}
.sectionIntro section {
  margin-top: 100px;
  text-align: center;
}
.sectionIntro section .texts {
  text-align: left;
  margin-top: 40px;
}
.sectionIntro section .texts h5 {
  line-height: 1em;
}
.sectionIntro section .texts p {
  text-indent: 1em;
  margin-top: 20px;
}

.sectionSkills section h5 {
  text-indent: 1em;
  line-height: 2em;
  margin-top: 40px;
}
.sectionSkills section ul {
  display: flex;
  flex-wrap: wrap;
  row-gap: 40px;
}
.sectionSkills section ul li {
  width: 25%;
  text-align: center;
}
.sectionSkills section ul li img {
  height: 100px;
}
.sectionSkills section ul li img:hover + p {
  opacity: 1;
}
.sectionSkills section ul li p {
  width: 100px;
  color: #000;
  font-size: 14px;
  line-height: 20px;
  font-weight: bold;
  margin: 0 auto;
  opacity: 0;
  transition: opacity 0.3s;
}

.sectionPortfolio section {
  margin-top: 40px;
}
.sectionPortfolio section h5 {
  margin-top: 40px;
  text-indent: 1em;
}
.sectionPortfolio section .galleryProjects ul {
  display: flex;
  flex-wrap: wrap;
  column-gap: 40px;
  row-gap: 40px;
  margin-top: 40px;
}
.sectionPortfolio section .galleryProjects ul li {
  border: 1px solid #c0c0c0;
}
.sectionPortfolio section .galleryProjects ul li a img {
  height: 300px;
}

.sectionContact {
  text-align: center;
  padding-bottom: 120px !important;
}
.sectionContact header {
  margin-bottom: 5vh;
}
.sectionContact section a {
  font-family: "Inter", sans-serif;
  font-size: 0.5em;
  font-weight: 900;
  display: block;
  height: 8vh;
  width: 50%;
  margin: 0 auto;
  margin-top: 5vh;
  overflow: hidden;
  border: 5px solid black;
  background-color: transparent;
  line-height: 8vh;
  font-size: 0.5em;
}
.sectionContact section .cyan {
  box-shadow: 10px 10px 0 rgb(0, 255, 255);
}
.sectionContact section .magenta {
  box-shadow: 10px 10px 0 rgb(250, 0, 255);
}
.sectionContact section .yellow {
  box-shadow: 10px 10px 0 rgb(250, 255, 0);
}
.sectionContact section p {
  margin-top: 10vh;
  font-size: 60px;
  font-weight: 900;
}

@media (max-width: 1439px) {
  h1 {
    font-size: 6vh;
  }
  h2 {
    font-size: 1em;
  }
  h3 {
    font-size: 0.8em;
  }
  .menuWrap .menu {
    width: 80%;
  }
  .container div.allSection {
    width: 90%;
  }
  .container .sectionContact section a {
    font-size: 0.3em;
  }
}
@media (max-width: 1079px) {
  h1 {
    font-size: 5vh;
  }
  h2 {
    font-size: 0.9em;
  }
  .container .sectionIntro section p {
    font-size: 20px;
  }
  .container .sectionContact section a {
    font-size: 0.3em;
  }
}
@media (max-width: 959px) {
  h1 {
    font-size: 4vh;
  }
  h2 {
    font-size: 0.7em;
  }
  h3 {
    font-size: 0.6em;
  }
  .sectionIntro header h3 {
    line-height: initial;
  }
  .sectionIntro section p {
    font-size: 18px;
  }
  .menuWrap .menu h2 {
    line-height: 3em;
  }
  .container::before, .container::after {
    display: none;
  }
  .container .sectionContact section a {
    height: 8vh;
    width: 80%;
    font-size: 0.3em;
    line-height: 8vh;
  }
  .container .sectionContact section p {
    font-size: 36px;
  }
}
@media (max-width: 767px) {
  h1 {
    font-size: 3vh;
  }
  h2 {
    font-size: 7vh;
  }
  .hdrWrap {
    height: 7vh;
  }
  .hdrWrap header h1 {
    line-height: 6vh;
  }
  .hdrWrap header .bnwOnOff .burgerIcon {
    display: block;
  }
  .menuWrap {
    display: none;
    height: 100vh;
    width: 100vw;
    padding-top: 40vh;
    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;
    z-index: 100;
    text-align: center;
  }
  .menuWrap .menu {
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
  .menuWrap .menu h2 {
    line-height: 2.2;
  }
  .menuWrap .footer {
    position: absolute;
    bottom: 5px;
    right: 0;
    width: 100%;
  }
  .menuWrap .footer p {
    font-size: 16px;
  }
  .menuWrap #right {
    opacity: 1;
  }
  .menuWrap #menuClose {
    display: block;
  }
  .menuWrap .menu {
    color: #313131;
  }
  .menuWrap .menu #menu1 {
    text-shadow: 0px 5px 0 rgb(0, 255, 255);
  }
  .menuWrap .menu #menu2 {
    text-shadow: 0px 5px 0 rgb(250, 0, 255);
  }
  .menuWrap .menu #menu3 {
    text-shadow: 0px 5px 0 rgb(250, 255, 0);
  }
  .menuWrap .menu #menu4 {
    text-shadow: 0 5px 0 #555;
  }
  .container {
    height: 83vh;
    width: 90%;
    margin: 0 auto;
    margin-top: 17vh;
  }
  .container div.allSection {
    width: 100%;
  }
  .container div.allSection:not(:nth-of-type(1)) {
    padding: 40px 0;
    margin-top: 120px;
  }
  .container .sectionSkills p {
    opacity: 1;
    color: #a9a9a9 !important;
  }
  .container.bnw .sectionSkills p {
    color: #313131 !important;
  }
}
@media (max-width: 599px) {
  h2 {
    font-size: 5vh;
  }
  p {
    font-size: 18px;
  }
  .container .sectionIntro section p {
    font-size: 16px;
  }
}

/*# sourceMappingURL=main.css.map */
