body {
  display: flex;
  overflow: hidden;
}

.hdrWrap {
  width: 100%;
  height: 10vh;
  position: absolute;
  top: 10vh;
  left: 0;
  z-index: 10;
  header {
    @include box(100%, 90%);
    max-width: 1680px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    border-top: 10px solid black;
    border-bottom: 5px solid gray;
    overflow: hidden;
    h1 {
      @include box(85px, 30%);

      a {
        &:hover {
          animation-name: colorChange;
          animation-duration: 2s;
          animation-iteration-count: infinite;
          @keyframes colorChange {
            25% {
              color: $cyan-hex;
            }
            50% {
              color: $magenta-hex;
            }
            75% {
              color: $yellow-hex;
            }
          }
        }
      }
    }
    .emptyBox {
      @include box(85px, calc(100% - 560px));
      background: $bg-white;
    }
  }
}

.menuWrap {
  @include box(100vh, calc(1 / 3 * 100vw));
  padding-top: 40vh;
  position: relative;
  overflow: hidden;
  .menu {
    width: calc(100% - 120px);
    float: right;
    h2 {
      line-height: 2;
    }
  }
  .footer {
    position: absolute;
    bottom: 5px;
    right: 0;
    width: 80%;
    p {
      font-size: 16px;
    }
  }
}

// General Styling. Section Styling in sectionmain.scss
.container {
  @include box(80vh, calc(2 / 3 * 100vw));
  position: relative;
  margin-top: 20vh;
  margin-left: 10px;
  // scrollbar hide for FF and Chrome
  overflow: hidden;
  overflow-y: scroll;
  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none;
  }

  // Arrow Down animation
  &::before {
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    top: 89%;
    right: 50px;
    border: 1px solid black;
    border-top: none;
    border-right: none;
    transform: rotate(-45deg);
    animation-name: scroller2;
    animation-duration: 2s;
    animation-iteration-count: infinite;

    @keyframes scroller2 {
      0% {
        top: 84%;
        opacity: 0;
      }
      100% {
        top: 88%;
        opacity: 1;
      }
    }
  }
  &::after {
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    top: 90%;
    right: 50px;
    border: 1px solid black;
    border-top: none;
    border-right: none;
    transform: rotate(-45deg);
    animation-name: scroller;
    animation-duration: 2s;
    animation-iteration-count: infinite;

    @keyframes scroller {
      0% {
        top: 85%;
        opacity: 0;
      }
      100% {
        top: 90%;
        opacity: 1;
      }
    }
  }
}
