body {
  display: flex;
  overflow: hidden;
  // transition: background-color 0.3s, color 0.3s;
}

.hdrWrap {
  width: 100%;
  height: 10vh;
  position: absolute;
  top: 10vh;
  left: 0;
  z-index: 10;
  // transition: background-color 0.3s, color 0.3s;
  header {
    @include box(100%, 90%);
    max-width: 1680px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    border-top: 10px solid black;
    border-bottom: 5px solid gray;
    overflow: hidden;
    h1 {
      @include box(100%, 30%);
      line-height: 10vh;
      a {
        transition: color 0.3s;
        display: block;
        height: 100%;
      }
    }
    .bnwOnOff {
      @include box(100%, calc(70% - 10px));
      line-height: 10vh;
      display: flex;
      justify-content: flex-end;
      .burgerIcon {
        display: none;
      }
      button {
        cursor: pointer;
        display: block;
        height: 100%;
        text-align: right;
        margin-left: 30px;
        i {
          font-size: 3vh;
        }
      }
    }
  }
}

.menuWrap {
  @include box(100vh, calc(1 / 3 * 100vw));
  padding-top: 30vh;
  position: relative;
  overflow: hidden;
  // transition: background-color 0.3s, color 0.3s;
  .menu {
    width: calc(100% - 120px);
    float: right;
    h2 {
      line-height: 2;
    }
  }
  .footer {
    position: absolute;
    bottom: 5px;
    right: 0;
    width: 80%;
    p {
      font-size: 16px;
    }
  }
}

// General Styling. Section Styling in sectionmain.scss
.container {
  @include box(80vh, calc(2 / 3 * 100vw));
  // transition: background-color 0.3s, color 0.3s;
  position: relative;
  margin-top: 20vh;
  margin-left: 10px;
  // scrollbar hide for FF and Chrome
  overflow: hidden;
  overflow-y: scroll;
  scrollbar-width: none;
  scroll-behavior: smooth;
  &::-webkit-scrollbar {
    display: none;
  }

  // Arrow Down animation
  &::before {
    content: "";
    position: fixed;
    width: 10px;
    height: 10px;
    top: 80%;
    right: 50px;
    border: 1px solid black;
    border-top: none;
    border-right: none;
    transform: rotate(-45deg);
    animation-name: scroller2;
    animation-duration: 2s;
    animation-iteration-count: infinite;

    @keyframes scroller2 {
      0% {
        top: 84%;
        opacity: 0;
      }
      100% {
        top: 89%;
        opacity: 1;
      }
    }
  }
  &::after {
    content: "";
    position: fixed;
    width: 10px;
    height: 10px;
    top: 85%;
    right: 50px;
    border: 1px solid black;
    border-top: none;
    border-right: none;
    transform: rotate(-45deg);
    animation-name: scroller;
    animation-duration: 2s;
    animation-iteration-count: infinite;

    @keyframes scroller {
      0% {
        top: 85%;
        opacity: 0;
      }
      100% {
        top: 90%;
        opacity: 1;
      }
    }
  }
}
