// Page Load - Landing
#flip {
  @include box(100vh, 100vw);
  background-color: $bg-black;
  .letters {
    display: flex;
    justify-content: center;
    align-items: center;
    p {
      font-size: 15vw;
      font-weight: bold;
      font-weight: 700;
      color: $text-light;
      line-height: 100vh;
      letter-spacing: 5px;
      transform: perspective(500px) rotateY(90deg);
      animation: fliptext 5s ease-in-out 1 forwards;
      opacity: 0;
    }
    #p2 {
      animation-delay: 400ms;
    }
    #p3 {
      animation-delay: 600ms;
    }
    #p4 {
      animation-delay: 800ms;
    }
    #p5 {
      animation-delay: 1000ms;
    }
    #p6 {
      animation-delay: 1200ms;
    }
    #p7 {
      animation-delay: 1400ms;
    }
    @keyframes fliptext {
      80% {
        transform: perspective(500px) rotate(0deg);
        opacity: 1;
      }
      100% {
        transform: translateY(-5vh);
        text-shadow: 1vh 1vh 0 $cyan-rgba, -0.5vh -0.5vh 0 $magenta-rgba;
        opacity: 1;
      }
    }
  }
}

.start {
  font-size: initial;
  position: fixed;
  left: 50%;
  bottom: 5vh;
  transform: translateX(-50%);
  animation: langButton 5s forwards;
  opacity: 0;
  button {
    font-size: 20px;
    line-height: 1em;
    width: 100px;
    height: 100px;
    color: $text-light;
    background-color: $bg-black;
    margin: 0 10px;
    &:hover {
      cursor: pointer;
    }
  }
}
@keyframes langButton {
  100% {
    opacity: 1;
  }
}
