// Menu Wrap
//-------------------- 1439max ----------------------
@media (max-width: 1439px) {
  h1 {
    font-size: 6vh;
  }
  h2 {
    font-size: 1em;
  }
  h3 {
    font-size: 0.8em;
  }

  .menuWrap {
    .menu {
      width: 80%;
    }
  }
  .container {
    div.allSection {
      width: calc(90%);
      &:not(:nth-of-type(1)) {
        // margin-top: 100px;
      }
    }
    .sectionContact {
      section {
        a {
          font-size: 0.3em;
        }
      }
    }
  }
}

//-----------------------1079 max-------------------------
@media (max-width: 1079px) {
  h1 {
    font-size: 5vh;
  }
  h2 {
    font-size: 0.9em;
  }
  .container {
    .sectionIntro {
      section {
        p {
          font-size: 20px;
        }
      }
    }
    .sectionContact {
      section {
        a {
          font-size: 0.3em;
        }
      }
    }
  }
}

//-------------------- 959 max -----------------------------
@media (max-width: 959px) {
  h1 {
    font-size: 4vh;
  }
  h2 {
    font-size: 0.7em;
  }
  h3 {
    font-size: 0.6em;
  }
  .sectionIntro {
    header {
      h3 {
        line-height: initial;
      }
    }
    section {
      p {
        font-size: 18px;
      }
    }
  }
  .menuWrap {
    .menu {
      h2 {
        line-height: 3em;
      }
    }
  }
  .container {
    &::before,
    &::after {
      display: none;
    }
    .sectionContact {
      section {
        a {
          @include box(8vh, 80%);
          font-size: 0.3em;
          line-height: 8vh;
        }
        p {
          font-size: 36px;
        }
      }
    }
  }
}

//------------------------ 767max ------------------------
@media (max-width: 767px) {
  h1 {
    font-size: 3vh;
  }
  h2 {
    font-size: 7vh;
  }
  .hdrWrap {
    height: 7vh;
    header {
      h1 {
        line-height: 6vh;
      }
      .bnwOnOff {
        .burgerIcon {
          display: block;
        }
      }
    }
  }
  .menuWrap {
    display: none;
    @include box(100vh, 100vw);
    padding-top: 40vh;
    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;
    z-index: 100;
    text-align: center;
    .menu {
      width: 100%;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      h2 {
        line-height: 2.2;
      }
    }
    .footer {
      position: absolute;
      bottom: 5px;
      right: 0;
      width: 100%;
      p {
        font-size: 16px;
      }
    }
  }
  .menuWrap {
    #right {
      opacity: 1;
    }
    #menuClose {
      display: block;
    }
    .menu {
      color: $text-dark;
      #menu1 {
        text-shadow: 0px 5px 0 $cyan-rgba;
      }
      #menu2 {
        text-shadow: 0px 5px 0 $magenta-rgba;
      }
      #menu3 {
        text-shadow: 0px 5px 0 $yellow-rgba;
      }
      #menu4 {
        text-shadow: 0 5px 0 $text-gray;
      }
    }
  }
  .container {
    // position: initial;
    @include box(83vh, 90%);
    margin: 0 auto;
    margin-top: 17vh;
    div.allSection {
      width: 100%;
      &:not(:nth-of-type(1)) {
        padding: 40px 0;
        margin-top: 120px;
      }
    }
    .sectionSkills {
      p {
        opacity: 1;
        color: $text-gray2 !important;
      }
    }
  }
  .container.bnw {
    .sectionSkills {
      p {
        color: $text-dark !important;
      }
    }
  }
}

//------------------------- 599max -----------------------------
@media (max-width: 599px) {
  h2 {
    font-size: 5vh;
  }
  p {
    font-size: 18px;
  }
  .container {
    .sectionIntro {
      section {
        p {
          font-size: 16px;
        }
      }
    }
  }
}
