* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100vw;
  height: 100vh;
  font-size: 60px;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol,
li {
  list-style: none;
}
img {
  vertical-align: middle;
}

button {
  font-family: "Inter", sans-serif;
  font-size: 0.5em;
  font-weight: 900;
}
p {
  font-family: "Inter", sans-serif;
  font-size: 24px;
  font-weight: 300;
}
li {
  font-family: "Inter", sans-serif;
  font-size: 0.8em;
  line-height: 1.2em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Inter", sans-serif;
  font-weight: bold;
  font-weight: 700;
  font-weight: 900;
}

h1 {
  font-size: 72px;
}
h2 {
  // font-size: 72px;
  font-size: 1.2em;
}
h3 {
  // font-size: 60px;
  font-size: 1em;
}
h4 {
  // font-size: 48px;
  font-size: 0.8em;
}
h5 {
  // font-size: 36px;
  font-size: 0.6em;
}
