.sectionSkills {
    margin-top: 120px;
    header {}
    section {
        h5 {
            text-indent: 1em;
            line-height: 2em;
        }
        ul {
            li {
                text-indent: 2em;
                img {
                    height: 60px;
                }
            }
        }
    }
}