div.allSection {
  width: calc(100% - 120px);
  &:not(:nth-of-type(1)){
    margin-top: 160px;
  }
}
.sectionMain {
  img {
    width: 100%;
  }
}

.sectionIntro {
  width: 100%;
  header {
    h3 {
      // height: 0;
      // overflow: hidden;
      line-height: 80px;
    }
  }
  section {
    margin-top: 100px;
    text-align: center;
    img {
      // height: 0; overflow: hidden;
    }
    .texts {
      text-align: left;
      margin-top: 40px;
      h5 {
        line-height: 1em;
      }
      p {
        text-indent: 1em;
        margin-top: 20px;
      }
    }
  }
}

.sectionSkills {
  header {
  }
  section {
    h5 {
      text-indent: 1em;
      line-height: 1em;
      margin-top: 40px;
    }
    ul {
      li {
        text-indent: 2em;
        img {
          height: 60px;
        }
      }
    }
  }
}

.sectionPortfolio {
  header {
  }
  section {
  }
}
