.sectionIntro {
    margin-top: 120px;
    header {
      h3 {
        // height: 0;
        // overflow: hidden;
        line-height: 80px;
      }
    }
    section {
      margin-top: 100px;
      text-align: center;
      img {
        // height: 0; overflow: hidden;

      }
      .texts {
        text-align: left;
        margin-top: 40px;
        h5 {
            line-height: 1em;
        }
        p {
            text-indent: 1em;
            margin-top: 20px;
        }
      }
    }
  }